.header {
  height: 60px;
  background-color: #1c2b35;
  padding-left: 116px;
  padding-right: 109px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header nav a {
  text-decoration: none;
  margin-left: 20px;
  color: white;
  font-size: 17px;
}
.header nav a:hover {
  cursor: pointer;
  color: burlywood;
}
.active {
  background-color: rgb(81, 129, 33);
  border-radius: 3px;
  padding: 0px 4px;
}
